/* global */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  align-items: center;
}

/* navbar 전체 */

nav {
  padding: 0 3px;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  height: 80px;
  width: 100vw;
}

.nav-icon {
  width: 24px;
  height: 24px;
  display: block;
}

.nav-btn {
  font-size: 25px;
  padding: 18px;
}

/* nav-left */



/* nav-right */
.nav-right {
  min-width: 180px;
  display: flex;
  justify-content: space-between;
}

.nav-right .nav-btn {
  margin-right: 7px;
}

.img {
  width: 30px;
  height: 30px;
}

.back {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  width: 100vw;
  height: 90vh;
}

.logo {
  width: 115px;
  height: 55px;
}

.nav-btn1 {
  padding: 22px 10px 10px;
}

.tree{
  height:530px;
  width: 300px;
}

.note{
  height:50px;
  width: 50px;
}
